#container{
    width: 800px;
    height: 500px;
    background-color: blanchedalmond;
    border: 1px solid black;
}
#bovenkant{
    width: 800px;
    height: 40%;
    background-color: lightskyblue;
}
#middenkant{
    border-bottom: 10px solid white;
    border-top: 10px solid white;
    width: 800px;
    height: 20%;
    background-color: black;
    
}
#onderkant{
    width: 800px;
    height: 40%;
    background-color: lightskyblue;
}