#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
}
#bovenkant{
    width: 100%;
    height: 250px;
    background-color: lightskyblue;
}
#middenkant{
    border-bottom: 10px solid white;
    border-top: 10px solid white;
    width: 100%;
    height: 80px;
    background-color: black;
    
}
#onderkant{
    width: 100%;
    height:250px;
    background-color: lightskyblue;
}