#container{
    width: 800px;
    height: 500px;
    background-color: blanchedalmond;
    border: 1px solid black;
}
#bovenkant{
    width:800px ;
    height: 50%;
    background-color: yellow;
}
#middenkant{
    width: 800px;
    height: 25%;
    background-color: blue;
}
#onderkant{
    width: 800px;
    height: 25%;
    background-color: red;
}