#container{
    width: 800px;
    height: 500px;
    background-color: darkblue;
    border: 1px solid black;
    align-items: baseline;
}
#bovenkant{
    width: 100% ;
    height: 50% ;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   

}
#rechtsboven{
    width: 560px;
    height: 210px;
    background-color: red;
    float: right;
    border-left: 20px solid white;
    border-bottom: 20px solid white;
    order: 2;
}
#linksboven{
    width: 160px;
    height: 210px;
    background-color: red;
    float: left;
    border-bottom: 20px solid white;
    border-right: 20px solid white;
    order: 0;
}
#onderkant{
    width: 100%;
    height: 50%;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   
   
}
#rechtsonder{
    width: 560px;
    height: 210px;
    background-color: red;
    border-left: 20px solid white;
    border-top: 20px solid white;
    order: 2;

}
#linksonder{
    width: 160px;;
    height: 210px;
    background-color: red;
    border-top: 20px solid white;
    border-right: 20px solid white;
    order: 0;
   
}
