#container{
    width: 800px;
    height: 500px;
    background-color: blanchedalmond;
    border: 1px solid black;
}
#bovenkant{
    width: 800px;
    height: 250px;

}
#rechtsboven{
    width: 600px;
    height: 250px;
    background-color: white;
    float: right;

}
#linksboven{

    width: 200px;
    height: 250px;
    background-color: blue;
}
#onderkant{
    width: 800px;
    height: 250px;
    background-color: red;
}